<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATDBILLETERA</title>
    <link rel="stylesheet" href="/static/styles/Portaltuplata.css">
    <link rel="icon" href="/static/imagenes/LogoCatd.png">
</head>

<body>

    <header>
        <button class="boton-salida">SALIR</button>
    </header>

    <div class="container">
        <div class="main-panel">
            <h1>Hola, <span id="user-name">{{ user_name }}</span></h1>
            <p>Disponible</p>
            <div class="balance" id="balance">••••••</div>
            <button id="toggleBalance" class="toggle-button">Mostrar saldo</button>
            <div class="button-grid">
                <button class="button" id="cardButton">Tarjeta</button>
                <button class="button" id="movementsButton">Movimientos</button>
                <button class="button" id="servicesButton">Servicios</button>
                <button class="button" id="transactionsButton">Transacciones</button>
            </div>
            <button class="button full-width" id="helpButton">Ayuda</button>

            <!-- Panel Información Tarjeta -->
            <div id="cardInfo" class="card-info-panel">
                <div class="card-details">
                    <p>Número de Tarjeta: <span id="cardNumber"> </span></p>
                    <p>Fecha de Vencimiento: <span id="expirationDate"> </span></p>
                    <p>Código de Seguridad: <span id="securityCode"> </span></p>
                    <button id="toggleCardInfo" class="toggle-button">Mostrar información</button>
                </div>
            </div>

            <!-- Panel Movimientos Recientes -->
            <div id="movements" class="info-panel" style="display: none;">
                <h2>Movimientos Recientes</h2>
                <ul id="movementsList"></ul>
            </div>

            <!-- Panel Transacciones -->
            <div id="transactionsPanel" class="info-panel" style="display: none;">
                <h2>Transacciones</h2>
                <div class="button-grid">
                    <button class="button small" id="sendMoneyButton">Enviar</button>
                    <button class="button small" id="withdrawButton">Retirar</button>
                    <button class="button small" id="qrCodeButton">Código QR</button>
                    <button class="button small" id="rechargeButton">Recargar</button>
                </div>
            </div>
        </div>

        <!-- Panel de Servicios -->
        <div class="side-panel" id="sidePanel" style="display: none;">
            <div id="servicesPanel">
                <h2>Servicios</h2>
                <div class="service-buttons">
                    <!-- Botón Celular -->
                    <button class="button" id="cellularButton">CELULAR</button>
                    <div id="cellularForm" class="form-panel" style="display: none;">
                        <div class="form-panel">
                            <h2>Formulario Celular</h2>
                            <form id="cellularFormElement">
                                <label for="cellNumber">Número de Celular:</label>
                                <input type="tel" id="cellNumber" required>

                                <label for="operator">Seleccionar Operador:</label>
                                <select id="operator" required>
                                    <option value="Tigo">Tigo</option>
                                    <option value="Movistar">Movistar</option>
                                    <option value="Claro">Claro</option>
                                    <option value="WOM">WOM</option>
                                </select>

                                <label for="package">Seleccionar Paquete:</label>
                                <select id="package" required>
                                    <option value="Paquete 1">Paquete 1</option>
                                    <option value="Paquete 2">Paquete 2</option>
                                    <option value="Paquete 3">Paquete 3</option>
                                </select>

                                <label for="amountCelular">Monto:</label>
                                <input type="number" id="amountCelular" required>

                                <button type="submit" class="button">Enviar Pago</button>
                            </form>
                        </div>
                    </div>

                    <!-- Botón Hogar -->
                    <button class="button" id="homeButton">HOGAR</button>

                    <div id="homeForm" class="form-panel" style="display: none;">
                        <div class="form-panel">
                            <h2>Formulario Hogar</h2>
                            <form id="homeFormElement">
                                <label for="service">Seleccionar Servicio Público:</label>
                                <select id="service" required>
                                    <option value="Luz">Luz</option>
                                    <option value="Agua">Agua</option>
                                    <option value="Gas">Gas</option>
                                </select>

                                <label for="propertyNumber">Número de Propiedad:</label>
                                <input type="text" id="propertyNumber" required>

                                <label for="homeAmount">Monto:</label>
                                <input type="number" id="homeAmount" required>

                                <button type="submit" class="button">Enviar Pago</button>
                            </form>
                        </div>
                    </div>

                    <!-- Botón Otros -->
                    <button class="button" id="othersButton">OTROS</button>
                    <div id="otherForm" class="form-panel" style="display: none;">
                        <div class="form-panel">
                            <h2>Formulario Otros</h2>
                            <form id="otherFormElement">
                                <label for="reason">Seleccionar Razón:</label>
                                <select id="reason" required>
                                    <option value="Entretenimiento">Entretenimiento</option>
                                    <option value="Icetex">Icetex</option>
                                    <option value="Cupo Brilla">Cupo Brilla</option>
                                </select>

                                <label for="otherAmount">Monto:</label>
                                <input type="number" id="otherAmount" required>

                                <button type="submit" class="button">Enviar Pago</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-container">

                <!-- Panel Enviar Dinero -->
                <div id="sendMoneyForm" class="form-panel" style="display: none;">
                    <h2>Enviar Dinero</h2>
                    <form id="sendMoneyFormElement">
                        <label for="sendAmount">Monto:</label>
                        <input type="number" id="sendAmount" required>
                        <label for="phone">Teléfono:</label>
                        <input type="tel" id="sendPhone" required>
                        <label for="message">Mensaje (opcional):</label>
                        <textarea id="sendMessage"></textarea>
                        <button type="submit" class="button">Enviar</button>
                    </form>
                </div>

                <!-- Panel Código de Retiro -->
                <div id="withdrawCodePanel" class="form-panel" style="display: none;">
                    <h2>Código de Retiro</h2>
                    <p id="withdrawCode" class="large-code"></p>
                    <p>PARA CAJERO BANCOLOMBIA</p>
                </div>

                <!-- Panel Puntos de Recarga -->
                <div id="rechargeLocations" class="form-panel" style="display: none;">
                    <h2>Puntos de Recarga</h2>
                    <ul id="locationsList"></ul>
                    <p class="centered-text">RECARGA EN CORRESPONSAL</p>
                </div>
            </div>

            <!-- Panel Ayuda -->
            <div id="helpForm" class="form-panel" style="display: none;">
                <h2>Formulario de Ayuda</h2>
                <form id="helpFormElement">
                    <label for="helpPhone">Teléfono:</label>
                    <input type="tel" id="helpPhone" required>
                    
                    <label for="description">Descripción del problema:</label>
                    <textarea id="description" required></textarea>
                    
                    <button type="submit" class="button">Enviar solicitud</button>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/js/Portaltuplata.js"></script>
</body>

</html>