<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/Portaltuplata.css">
    <link rel="icon" href="/src/imagenes/LogoCatd.png">
    <title>TUPLTA CATD</title>
</head>

<body>

    <div class="container">
        <h1>¡Hola!, Marilis Londoño</h1>
        <div class="balance">
            <p>DISPONIBLE</p>
            <button id="toggleBalance">••••••</button>
        </div>
        <div class="grid">
            <div class="button">
                <div>💳</div>
                <span>TARJETA</span>
            </div>
            <div class="button">
                <div>📋</div>
                <span>MOVIMIENTOS</span>
            </div>
            <div class="button">
                <div>🏡</div>
                <span>SERVICIOS</span>
            </div>
            <div class="button" id="toggleTransactions">
                <div>💰</div>
                <span>TRANSACCIONES</span>
            </div>
        </div>
        <div class="grid hidden" id="transactions">
            <div class="button small">
                <div>📫</div>
                <span>ENVIAR</span>
            </div>
            <div class="button small">
                <div>🎁</div>
                <span>RETIRAR</span>
            </div>
            <div class="button small">
                <div>📷</div>
                <span>CODIGO QR</span>
            </div>
            <div class="button small">
                <div>⚙</div>
                <span>RECARGAR</span>
            </div>
        </div>
        <div class="button fullWidth">
            <div>❓</div>
            <span>AYUDA</span>
        </div>
    </div>

    <script src="/src/js/Portaltuplata.js"></script>

</body>

</html>